.template-wrapper{
    padding: 25px;
    background:rgb(226, 247, 245);
  // background: white;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(black, 0.1);
    max-width: 400px;
    margin-left: 475px;  
    position: relative;
    top: 70px;
   // border: 5px solid black;
    }
    .reactive-wrapper{
        padding: 25px;
        background:rgb(175, 230, 225);
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(black, 0.1);
        max-width: 400px;
        margin-left: 475px;
        margin-top: 300px;
        bottom: 50px;     
        position: relative;  
    }
    .page{
        background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, rgb(255, 122, 89));;
    }
    .form-control.ng-touched.ng-invalid {
        border:1px solid red;
       }
       .form-control.ng-touched.ng-valid {
        border:1px solid green;
       }
       